
.fa-sm {
    font-size:0.63em;
}


.sidebar-logos {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent background, adjust as needed */
    text-align: center;
}

.sidebar-logos img {
    margin: 5px;
}


     /* Custom breakpoint for screens larger than 1920px (you can adjust the value as needed) */
@media (min-width: 1920px) {
    .col-xxxl-1 {
        flex: 0 0 auto;
        width: 8.33%; /* 1/12th of the width */
    }
    .col-xxxl-2 {
        flex: 0 0 auto;
        width: 16.66%; /* 2/12th of the width */
    }
    .col-xxxl-3 {
        flex: 0 0 auto;
        width: 25%; /* 3/12th of the width */
    }
    .col-xxxl-4 {
        flex: 0 0 auto;
        width: 33.33%; /* 4/12th of the width */
    }
    .col-xxxl-6 {
        flex: 0 0 auto;
        width: 50%; /* 6/12th of the width */
    }
}


.identity-card-img {
    height: 200px;
}

