
.fa-sm {
    font-size:0.63em;
}


.sidebar-logos {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent background, adjust as needed */
    text-align: center;
}

.sidebar-logos img {
    margin: 5px;
}