version: "3.8"

services:
  broker:
    restart: "no"

  redis:
    restart: "no"

  db:
    restart: "no"
    ports:
      - "5432:5432"

  api:
    image: carnivoreid-app/api:dev
    build:
      context: .
      dockerfile: ./src/api/Dockerfile_dev
    restart: "no"
    environment:
      DEBUG: "True"
    volumes:
      - ./src/api:/api

  taxon_worker:
    image: carnivoreid-app/taxon_worker:dev
    build:
      context: .
      dockerfile: src/taxon_worker/Dockerfile_dev
    restart: "no"
    volumes:
      - ./src/taxon_worker:/taxon_worker

  identification_worker:
    image: carnivoreid-app/identification_worker:dev
    build:
      context: .
      dockerfile: src/identification_worker/Dockerfile_dev
    restart: "no"
    volumes:
      - ./src/identification_worker:/identification_worker
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ '0' ]
              capabilities: [ gpu ]

  identification_worker_db:
    restart: "no"
    ports:
      - "5433:5432"

#  volume_connector:
#    image: alpine
#    command: tail -f /dev/null
#    volumes:
#      - "shared-data:/shared_data"
#      - "./shared_data_2/:/shared_data"

#  detection_worker:
#    image: carnivoreid-app/detection_worker:dev
#    build:
#      context: .
#      dockerfile: src/detection_worker/Dockerfile_dev
#    restart: "no"
#    volumes:
#      - ./src/detection_worker:/detection_worker
#
  nginx:
    restart: "no"
