version: "3.3"

services:
  broker:
    image: rabbitmq:3.8.34-management-alpine
    container_name: carnivoreid-app-message-broker
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: 22pmDB%c
    expose:
      - 15672  # management tool
    labels:
      com.piva-ai.group: "applications"

  redis:
    image: redis:7.0.11-alpine
    container_name: carnivoreid-app-redis
    restart: always
    expose:
      - 6379
    command: >
      --loglevel warning
      --requirepass password
    volumes:
      - redis-data:/data:Z
    labels:
      com.piva-ai.group: "applications"

  api:
    image: ${API_IMAGE:-api}${TAG:-:latest}
    build:
      context: .
      dockerfile: ./src/api/Dockerfile
    container_name: carnivoreid-app-api
    restart: always
    environment:
      CAID_HOST: ${CAID_HOST:-localhost}
    env_file:
      - "src/variables.env"
      - ".env"
    volumes:
      - api-data:/data
      - shared-data:/shared_data
      - caid-static:/caid_static
    ports:
      - "8080:8080"
    depends_on:
      - inference_worker
    labels:
      com.piva-ai.group: "applications"

  inference_worker:
    image: ${API_IMAGE:-inference-worker}${TAG:-:latest}
    build:
      context: .
      dockerfile: src/inference_worker/Dockerfile
    container_name: carnivoreid-app-inference-worker
    restart: always
    env_file:
      - "src/variables.env"
      - ".env"
    volumes:
      - inference-worker-data:/data
      - shared-data:/shared_data
    depends_on:
      - broker
      - redis
    labels:
      com.piva-ai.group: "applications"

#  nginx:
#    image: nginx:latest
##    build: ./nginx
#    ports:
#      - 8008:80
#      - 44300:443
#    volumes:
#      - ./src/nginx/nginx.conf:/etc/nginx/nginx.conf
##      - /home/mjirik/projects/scaffanweb:/webapps/scaffanweb_django/scaffanweb/
#      - caid-static:/caid_static
#      - shared-data:/shared_data
##      - ./certbot/www/:/var/www/certbot/:ro
##      - ./certbot/conf/:/etc/nginx/ssl/:ro
##      - ./logs/:/webapps/scaffanweb_django/logs/
#    # load new ssh certificate from certbot every  6 hours
##    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
#    restart: always
#    depends_on:
#      - api
#  certbot:
#    image: certbot/certbot:latest
#    volumes:
#      - ./certbot/www/:/var/www/certbot/:rw
#      - ./certbot/conf/:/etc/letsencrypt/:rw
#      - ./logs/:/var/log/letsencrypt/
#    # check the certificate for update every 12 hours
#    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"

volumes:
  redis-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  api-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  inference-worker-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  shared-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  caid-static:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
