version: "3.8"

services:
  api:
    image: ${API_IMAGE:-api}${TAG:-:latest}
    build:
      context: .
      dockerfile: ./src/api/Dockerfile
    container_name: carnivoreid-app-api
    restart: always
    env_file:
      - "src/variables.env"
    volumes:
      - api-data:/data
    ports:
      - "8080:8080"
    labels:
      com.piva-ai.group: "applications"

volumes:
  api-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
