version: "3.8"

services:
  broker:
    image: rabbitmq:3.8.34-management-alpine
    container_name: carnivoreid-app-message-broker
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: 22pmDB%c
    expose:
      - 15672  # management tool
    labels:
      com.piva-ai.group: "applications"

  redis:
    image: redis:7.0.11-alpine
    container_name: carnivoreid-app-redis
    restart: always
    expose:
      - 6379
    command: >
      --loglevel warning
      --requirepass password
    volumes:
      - redis-data:/data:Z
    labels:
      com.piva-ai.group: "applications"

  api:
    image: ${API_IMAGE:-api}${TAG:-:latest}
    build:
      context: .
      dockerfile: ./src/api/Dockerfile
    container_name: carnivoreid-app-api
    restart: always
    environment:
      CAID_HOST: ${CAID_HOST:-localhost}
    env_file:
      - "src/variables.env"
      - ".env"
    volumes:
      - api-data:/data  # data used only by API
      - shared-data:/shared_data  # shared data with API, Workers, and Nginx
      - private-data:/private_data  # private keys that should not be automatically backed up
    expose:
      - 8080  # this should be accessible through inner nginx
    depends_on:
      - inference_worker
    labels:
      com.piva-ai.group: "applications"

  inference_worker:
    platform: linux/amd64
    image: ${INFERENCE_WORKER_IMAGE:-inference_worker}${TAG:-:latest}
    build:
      context: .
      dockerfile: src/inference_worker/Dockerfile
    container_name: carnivoreid-app-inference-worker
    restart: always
    env_file:
      - "src/variables.env"
      - ".env"
    volumes:
      - inference-worker-data:/data  # data used only by Worker
      - shared-data:/shared_data  # shared data with API, Workers, and Nginx
    depends_on:
      - broker
      - redis
    labels:
      com.piva-ai.group: "applications"

  nginx:
    image: ${NGINX_IMAGE:-custom_nginx}${TAG:-:latest}
    build: src/nginx
    container_name: carnivoreid-app-nginx
    volumes:
      - shared-data:/shared_data  # shared data with API, Workers, and Nginx
    depends_on:
      - api
    ports:
      - "13580:8080"  # this should be input point from the outer nginx. Inner nginx will redirect static files

volumes:
  redis-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  api-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  inference-worker-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  shared-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  private-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
