services:

  broker:
    image: rabbitmq:3.8.34-management-alpine
    container_name: carnivoreid-app-message-broker
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: 22pmDB%c
      TZ: Europe/Prague
    expose:
      - 15672  # management tool
    labels:
      com.piva-ai.group: "applications"
    networks:
      - backend

  redis:
    image: redis:7.0.11-alpine
    container_name: carnivoreid-app-redis
    restart: always
    command: >
      --loglevel warning
      --requirepass password
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
    expose:
      - 6379
    labels:
      com.piva-ai.group: "applications"
    environment:
      TZ: Europe/Prague
    networks:
      - backend
    volumes:
      - redis-data:/data:Z

  db:
    image: postgres:14.4-alpine
    container_name: carnivoreid-app-db
    restart: always


    env_file:
      - "src/variables.env"
      - "src/variables.prod.env"
    environment:
#      TZ: Europe/Prague
#      POSTGRES_DB: main_database
#      POSTGRES_USER: user
#      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    expose:
      - 5432
    labels:
      com.piva-ai.group: "applications"
    networks:
      - backend
    volumes:
      - db-data:/var/lib/postgresql/data

  api:
    container_name: carnivoreid-app-api
    image: ${API_IMAGE:-api}${TAG:-:latest}
    build:
      context: .
      dockerfile: ./src/api/Dockerfile
    restart: always
    env_file:
      - "src/variables.env"
      - "src/variables.prod.env"
      - ".env"
    environment:

      CAID_HOST: ${CAID_HOST:-localhost}
    volumes:
      # - shared-data:/shared_data  # shared data with API, Workers, and Nginx
      # - shared_data_external:/shared_data_external
      - api-data:/data  # data used only by API
      - private-data:/private_data  # private keys that should not be automatically backed up
      - ${CAID_IMPORT:-./caid_import}:/caid_import
#      - shared_data_external:/shared_data_external
      - shared_data_external:/shared_data
    expose:
      - 8080  # this should be accessible through inner nginx
    depends_on:
      - taxon_worker
      - identification_worker
    labels:
      com.piva-ai.group: "applications"
    networks:
      - frontend
      - backend

  taxon_worker:
    platform: linux/amd64
    image: ${TAXON_WORKER_IMAGE:-taxon_worker}${TAG:-:latest}
    build:
      context: .
      dockerfile: src/taxon_worker/Dockerfile
    container_name: carnivoreid-app-taxon-worker
    restart: always
    env_file:
      - "src/variables.env"
      - "src/variables.prod.env"
      - ".env"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['1']
              capabilities: [gpu]
    volumes:
      - taxon-worker-data:/data  # data used only by Worker
      # - shared-data:/shared_data  # shared data with API, Workers, and Nginx
      # - shared_data_external:/shared_data_external
      - shared_data_external:/shared_data
    depends_on:
      - broker
      - redis
    labels:
      com.piva-ai.group: "applications"
    networks:
      - backend

  identification_worker:
    platform: linux/amd64
    image: ${IDENTIFICATION_WORKER_IMAGE:-identification_worker}${TAG:-:latest}
    build:
      context: .
      dockerfile: src/identification_worker/Dockerfile
    container_name: carnivoreid-app-identification-worker
    restart: always
    environment:
      POSTGRES_DB: identification_worker
      POSTGRES_HOST: identification_worker_db
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      TZ: Europe/Prague
      RABBITMQ_HOST: broker
      RABBITMQ_URL: "amqp://user:22pmDB%c@broker:5672"
      REDIS_HOST: redis
      REDIS_URL: "redis://:password@redis:6379/0"
    env_file:
      - "src/variables.env"
      - ".env"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    volumes:
      - identification-worker-data:/data  # data used only by Worker
      # - shared-data:/shared_data  # shared data with API, Workers, and Nginx
      - shared_data_external:/shared_data
    depends_on:
      - broker
      - redis
      - identification_worker_db
    #      - identification-worker
    labels:
      com.piva-ai.group: "applications"
    networks:
      - backend

  identification_worker_db:
    image: postgres:14.4-alpine
    container_name: carnivoreid-app-identification-worker-db
    restart: always
    environment:
      TZ: Europe/Prague
      POSTGRES_DB: identification_worker
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - identification-worker-db-data:/var/lib/postgresql/data
#      - shared_data_external:/shared_data_external
#  - shared_data_external:/shared_data
    expose:
      - 5432
    #      - identification-worker
    labels:
      com.piva-ai.group: "applications"
    networks:
      - backend

  nginx:
    image: nginx:latest
#    image: ${NGINX_IMAGE:-custom_nginx}${TAG:-:latest}
#    build: src/nginx we use the original build
    container_name: carnivoreid-app-nginx
    volumes:
     # - shared-data:/shared_data  # shared data with API, Workers, and Nginx
     # - shared_data_external:/shared_data_external
#      - shared_data_external:/shared_data_external
      - shared_data_external:/shared_data
      - ./src/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api
    ports:
      - "13580:8080"  # this should be input point from the outer nginx. Inner nginx will redirect static files
    labels:
      com.piva-ai.group: "applications"
    environment:
      TZ: Europe/Prague
    networks:
      - frontend


volumes:
  # The SSHFS docker plugin is required on host machine
  # docker plugin install vieux/sshfs
  shared_data_external:
    driver: vieux/sshfs
    driver_opts:
      sshcmd: "${SFTP_CMD}"  # SSH command
      password: "${SFTP_PASSWORD}"
      allow_other: ""
      idmap: 'user'
      nonempty: ""

  api-data:  # mame
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  db-data:  # mame
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  identification-worker-data:  # mame
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  identification-worker-db-data: # mame
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  private-data:  # mame
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
      # shared_data_external:
      # labels:
      # com.piva-ai.group: "applications"
      # com.piva-ai.backup: "no"
  redis-data: # mame
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  shared-data:
    #    profiles:
    #      - dev
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  taxon-worker-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  #  detection-worker-data:
  #    labels:
  #      com.piva-ai.group: "applications"
  #      com.piva-ai.backup: "yes"

networks:
  frontend:
  backend:


