version: "3.9"

services:

  broker_dev:
    image: rabbitmq:3.8.34-management-alpine
    container_name: carnivoreid-app-dev-message-broker
    restart: "no"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: 22pmDB%c
      TZ: Europe/Prague
    expose:
      - 15672  # management tool
    labels:
      com.piva-ai.group: "applications"
    networks:
      - dev_backend
  #  identification-worker:
  #
  #

  redis_dev:
    image: redis:7.0.11-alpine
    container_name: carnivoreid-app-dev-redis
    restart: "no"
    command: >
      --loglevel warning
      --requirepass password
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
    expose:
      - 6379
    labels:
      com.piva-ai.group: "applications"
    environment:
      TZ: Europe/Prague
    networks:
      - dev_backend
    volumes:
      - redis-data-dev:/data:Z

  db_db:
    image: postgres:14.4-alpine
    container_name: carnivoreid-app-dev-db
    restart: "no"
#    ports:
#      - "5432:5432" # maybe limit to localhost
    environment:
      TZ: Europe/Prague
      POSTGRES_DB: main_database
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    expose:
      - 5432
    labels:
      com.piva-ai.group: "applications"
    networks:
      - dev_backend
    volumes:
      - db-data-dev:/var/lib/postgresql/data

  api_dev:
    container_name: carnivoreid-app-dev-api
    image: carnivoreid-app/api:dev
    build:
      context: .
      dockerfile: ./src/api/Dockerfile_dev
    restart: "no"
    environment:
      DEBUG: "True"
      TZ: Europe/Prague
      CAID_HOST: ${CAID_HOST:-localhost}
    volumes:
      - ./src/api:/api
      - shared-data:/shared_data
      - api-data-dev:/data  # data used only by API
      - private-data-dev:/private_data  # private keys that should not be automatically backed up
    networks:
      - dev_backend
      - dev_frontend
    env_file:
      - "src/variables.env"
      - ".env"
    expose:
      - 8080  # this should be accessible through inner nginx
    depends_on:
      - taxon_worker_dev
      - identification_worker_dev
    #      - detection_worker
    labels:
      com.piva-ai.group: "applications"

  taxon_worker_dev:
    container_name: carnivoreid-app-dev-taxon-worker
    image: carnivoreid-app/taxon_worker:dev
    build:
      context: .
      dockerfile: src/taxon_worker/Dockerfile_dev
    restart: "no"
    volumes:
      - ./src/taxon_worker:/taxon_worker
      - taxon-worker-data-dev:/data  # data used only by Worker
      - shared-data:/shared_data
    networks:
      - dev_backend
    platform: linux/amd64
    env_file:
      - "src/variables.env"
      - ".env"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    depends_on:
      - broker_dev
      - redis_dev
    labels:
      com.piva-ai.group: "applications"
    environment:
      TZ: Europe/Prague

  identification_worker_dev:
    image: carnivoreid-app/identification_worker:dev
    container_name: carnivoreid-app-dev-identification-worker
    build:
      context: .
      dockerfile: src/identification_worker/Dockerfile_dev
    restart: "no"
    volumes:
      - ./src/identification_worker:/identification_worker
      - identification-worker-data-dev:/data  # data used only by Worker
      - shared-data:/shared_data
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ '0' ]
              capabilities: [ gpu ]
    networks:
      - dev_backend
    platform: linux/amd64
    environment:
      POSTGRES_DB: identification_worker
      POSTGRES_HOST: identification_worker_db
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASS: password
      TZ: Europe/Prague
    env_file:
      - "src/variables.env"
      - ".env"
    depends_on:
      - broker_dev
      - redis_dev
      - identification_worker_db_dev
    #      - identification-worker
    labels:
      com.piva-ai.group: "applications"

  identification_worker_db_dev:
    container_name: carnivoreid-app-dev-identification-worker-db
    restart: "no"
#    ports:
#      - "5433:5432"
    networks:
      - dev_backend
    volumes:
      - identification-worker-db-data-dev:/var/lib/postgresql/data
    image: postgres:14.4-alpine
    environment:
      TZ: Europe/Prague
      POSTGRES_DB: identification_worker
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    expose:
      - 5432
    #      - identification-worker
    labels:
      com.piva-ai.group: "applications"

#  volume_connector:
#    image: alpine
#    command: tail -f /dev/null
#    volumes:
#      - "shared-data:/shared_data"
#      - "./shared_data_2/:/shared_data"

  nginx_dev:
    image: ${NGINX_IMAGE:-custom_nginx}${TAG:-:latest}
    container_name: carnivoreid-app-dev-nginx
    restart: "no"
    ports:
      - "13680:8080"  # this should be input point from the outer nginx. Inner nginx will redirect static files
    volumes:
      - shared-data:/shared_data
    networks:
      - dev_frontend
    build: src/nginx
    depends_on:
      - api_dev
    labels:
      com.piva-ai.group: "applications"
    environment:
      TZ: Europe/Prague

volumes:
  redis-data-dev:
    driver: local
  db-data-dev:
    driver: local
  api-data-dev:
    driver: local
  taxon-worker-data-dev:
    driver: local
  identification-worker-data-dev:
    driver: local
  identification-worker-db-data-dev:
    driver: local
  private-data-dev:
    driver: local
  shared-data:
    driver: local




networks:
  dev_backend:
    driver: bridge
  dev_frontend:
    driver: bridge