services:

  broker_dev:
    image: rabbitmq:3.8.34-management-alpine
#    container_name: caid-dev-message-broker
    restart: "no"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: 22pmDB%c
      TZ: Europe/Prague
    expose:
      - 15672  # management tool
    labels:
      com.piva-ai.group: "applications"
    networks:
      - dev_backend

  redis_dev:
    image: redis:7.0.11-alpine
#    container_name: caid-dev-redis
    restart: "no"
    command: >
      --loglevel warning
      --requirepass password
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
    expose:
      - 6379
    labels:
      com.piva-ai.group: "applications"
    environment:
      TZ: Europe/Prague
    networks:
      - dev_backend
    volumes:
      - redis-data-dev:/data:Z

  django_db_dev:
    image: postgres:14.4-alpine
#    container_name: caid-dev-django_db
    restart: "no"
#    ports:
#      - "5432:5432" # maybe limit to localhost
    env_file:
        - "src/variables.env"
        - "src/variables.dev.env"
    environment:
      TZ: Europe/Prague
      POSTGRES_DB: main_database
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    expose:
      - 5432
    labels:
      com.piva-ai.group: "applications"
    networks:
      - dev_backend
    volumes:
      - db-data-dev:/var/lib/postgresql/data

  api_dev:
#    container_name: caid-dev-api
    image: caid/api:dev
    build:
      context: .
      dockerfile: ./src/api/Dockerfile_dev
    restart: "no"
    env_file:
      - "src/variables.env"
      - "src/variables.dev.env"
      - ".env"
    environment:
      DEBUG: "True"
      CAID_HOST: ${CAID_HOST:-localhost}
    volumes:
      - ./src/api:/api
      - api-data-dev:/data  # data used only by API
      - private-data-dev:/private_data  # private keys that should not be automatically backed up
      - ${CAID_IMPORT:-./caid_import}:/caid_import
      - shared-data:/shared_data
    expose:
      - 8080  # this should be accessible through inner nginx
#    depends_on:
#      - taxon_worker_dev
#      - identification_worker_dev
    labels:
      com.piva-ai.group: "applications"
    networks:
      - dev_backend
      - dev_frontend

  taxon_worker_dev:
    platform: linux/amd64
    image: caid/taxon_worker:dev
    build:
      context: .
      dockerfile: src/taxon_worker/Dockerfile_dev
#    container_name: caid-dev-taxon-worker
    restart: "no"
    env_file:
      - "src/variables.env"
      - "src/variables.dev.env"
      - ".env"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    volumes:
      - ./src/taxon_worker:/taxon_worker
      - taxon-worker-data-dev:/data  # data used only by Worker
      - shared-data:/shared_data
    depends_on:
      - broker_dev
      - redis_dev
    labels:
      com.piva-ai.group: "applications"
    networks:
      - dev_backend

  identification_worker_dev:
    platform: linux/amd64
    image: caid/identification_worker:dev
    build:
      context: .
      dockerfile: src/identification_worker/Dockerfile_dev
#    container_name: caid-dev-identification-worker
    restart: "no"
    environment:
      POSTGRES_DB: identification_worker
      POSTGRES_HOST: identification_worker_db_dev
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      TZ: Europe/Prague
      RABBITMQ_HOST: broker_dev
      RABBITMQ_URL: "amqp://user:22pmDB%c@broker_dev:5672"
      REDIS_HOST: redis_dev
      REDIS_URL: "redis://:password@redis_dev:6379/0"
    env_file:
      - "src/variables.env"
      - ".env"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ '0' ]
              capabilities: [ gpu ]
    #      - "src/variables.dev.env" # this will override the POSTGRES_DB and other variables
    volumes:
      - ./src/identification_worker:/identification_worker
      - identification-worker-data-dev:/data  # data used only by Worker
      - shared-data:/shared_data
    depends_on:
      - broker_dev
      - redis_dev
      - identification_worker_db_dev
    #      - identification-worker
    labels:
      com.piva-ai.group: "applications"
    networks:
      - dev_backend

  identification_worker_db_dev:
    image: postgres:14.4-alpine
#    container_name: caid-dev-identification-worker-db
    restart: "no"
#    ports:
#      - "5433:5432"
    environment:
      TZ: Europe/Prague
      POSTGRES_DB: identification_worker
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - identification-worker-db-data-dev:/var/lib/postgresql/data
    expose:
      - 5432
    #      - identification-worker
    labels:
      com.piva-ai.group: "applications"
    networks:
      - dev_backend

  nginx_dev:
    image: nginx:latest
    # image: ${NGINX_IMAGE:-custom_nginx}${TAG:-:latest}
#    build: src/nginx  # we use the original build
#    container_name: caid-dev-nginx
    volumes:
      - shared-data:/shared_data
      - ./src/nginx/nginx_dev.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api_dev
    ports:
      - "13680:8080"  # this should be input point from the outer nginx. Inner nginx will redirect static files
    labels:
      com.piva-ai.group: "applications"
    environment:
      TZ: Europe/Prague
    networks:
      - dev_frontend
    restart: "no"

#  volume_connector:
#    image: alpine
#    command: tail -f /dev/null
#    volumes:
#      - "shared-data:/shared_data"
#      - "./shared_data_2/:/shared_data"

volumes:
  redis-data-dev:
    driver: local
  db-data-dev:
    driver: local
  api-data-dev:
    driver: local
  taxon-worker-data-dev:
    driver: local
  identification-worker-data-dev:
    driver: local
  identification-worker-db-data-dev:
    driver: local
  private-data-dev:
    driver: local
  shared-data:
    driver: local


networks:
  dev_backend:
    driver: bridge
  dev_frontend:
    driver: bridge
