version: "3.9"

services:
  broker:
    image: rabbitmq:3.8.34-management-alpine
    container_name: carnivoreid-app-message-broker
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: 22pmDB%c
    expose:
      - 15672  # management tool
    networks:
      - backend
    labels:
      com.piva-ai.group: "applications"

  redis:
    image: redis:7.0.11-alpine
    container_name: carnivoreid-app-redis
    restart: always
    command: >
      --loglevel warning
      --requirepass password
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
    volumes:
      - redis-data:/data:Z
    expose:
      - 6379
    networks:
      - backend
    labels:
      com.piva-ai.group: "applications"

  db:
    image: postgres:14.4-alpine
    container_name: carnivoreid-app-db
    restart: always
    environment:
      TZ: Europe/Prague
      POSTGRES_DB: main_database
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - db-data:/var/lib/postgresql/data
    expose:
      - 5432
    networks:
      - backend
    labels:
      com.piva-ai.group: "applications"

  api:
    image: ${API_IMAGE:-api}${TAG:-:latest}
    build:
      context: .
      dockerfile: ./src/api/Dockerfile
    container_name: carnivoreid-app-api
    restart: always
    environment:
      CAID_HOST: ${CAID_HOST:-localhost}
    env_file:
      - "src/variables.env"
      - ".env"
    volumes:
      - api-data:/data  # data used only by API
      - shared-data:/shared_data  # shared data with API, Workers, and Nginx
      - private-data:/private_data  # private keys that should not be automatically backed up
      - ${DATA_IMPORT_DIR:-./import_data}:/import_data
    expose:
      - 8080  # this should be accessible through inner nginx
    depends_on:
      - taxon_worker
      - identification_worker
#      - detection_worker
    networks:
      - frontend
      - backend
    labels:
      com.piva-ai.group: "applications"

  taxon_worker:
    platform: linux/amd64
    image: ${TAXON_WORKER_IMAGE:-taxon_worker}${TAG:-:latest}
    build:
      context: .
      dockerfile: src/taxon_worker/Dockerfile
    container_name: carnivoreid-app-taxon-worker
    restart: always
    env_file:
      - "src/variables.env"
      - ".env"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    volumes:
      - taxon-worker-data:/data  # data used only by Worker
      - shared-data:/shared_data  # shared data with API, Workers, and Nginx
    depends_on:
      - broker
      - redis
    networks:
      - backend
    labels:
      com.piva-ai.group: "applications"

  identification_worker:
    platform: linux/amd64
    image: ${IDENTIFICATION_WORKER_IMAGE:-identification_worker}${TAG:-:latest}
    build:
      context: .
      dockerfile: src/identification_worker/Dockerfile
    container_name: carnivoreid-app-identification-worker
    restart: always
    environment:
      POSTGRES_DB: identification_worker
      POSTGRES_HOST: identification_worker_db
      POSTGRES_PORT: 5432
      POSTGRES_USER: user
      POSTGRES_PASS: password
    env_file:
      - "src/variables.env"
      - ".env"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]
    volumes:
      - identification-worker-data:/data  # data used only by Worker
      - shared-data:/shared_data  # shared data with API, Workers, and Nginx
    depends_on:
      - broker
      - redis
      - identification_worker_db
    networks:
      - backend
    #      - identification-worker
    labels:
      com.piva-ai.group: "applications"

  identification_worker_db:
    image: postgres:14.4-alpine
    container_name: carnivoreid-app-identification-worker-db
    restart: always
    environment:
      TZ: Europe/Prague
      POSTGRES_DB: identification_worker
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - identification-worker-db-data:/var/lib/postgresql/data
    expose:
      - 5432
    networks:
      - backend
    #      - identification-worker
    labels:
      com.piva-ai.group: "applications"

#  detection_worker:
#    platform: linux/amd64
#    image: ${DETECTION_WORKER_IMAGE:-detection_worker}${TAG:-:latest}
#    build:
#      context: .
#      dockerfile: src/detection_worker/Dockerfile
#    deploy:
#      resources:
#        reservations:
#          devices:
#            - driver: nvidia
#              device_ids: ['0']
#              capabilities: [gpu]
#    container_name: carnivoreid-app-detection-worker
#    restart: always
#    env_file:
#      - "src/variables.env"
#      - ".env"
#    volumes:
#      - detection-worker-data:/data  # data used only by Worker
#      - shared-data:/shared_data  # shared data with API, Workers, and Nginx
#    depends_on:
#      - broker
#      - redis
#    networks:
#      - backend
    #      - identification-worker
#    labels:
#      com.piva-ai.group: "applications"

  nginx:
    image: ${NGINX_IMAGE:-custom_nginx}${TAG:-:latest}
    build: src/nginx
    container_name: carnivoreid-app-nginx
    volumes:
      - shared-data:/shared_data  # shared data with API, Workers, and Nginx
    depends_on:
      - api
    ports:
      - "13580:8080"  # this should be input point from the outer nginx. Inner nginx will redirect static files
    networks:
      - frontend
    labels:
      com.piva-ai.group: "applications"

volumes:
  redis-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  db-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  api-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  taxon-worker-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  identification-worker-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  identification-worker-db-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  detection-worker-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  shared-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"
  private-data:
    labels:
      com.piva-ai.group: "applications"
      com.piva-ai.backup: "yes"

networks:
  frontend:
  backend:
#  identification-worker:
