version: "3.8"

services:
  broker:
    restart: "no"

  redis:
    restart: "no"

  db:
    restart: "no"
    ports:
      - "5432:5432"

  api:
    image: carnivoreid-app/api:dev
    build:
      context: .
      dockerfile: ./src/api/Dockerfile_dev
    restart: "no"
    environment:
      DEBUG: "True"
    volumes:
      - ./src/api:/api

  inference_worker:
    image: carnivoreid-app/inference_worker:dev
    build:
      context: .
      dockerfile: src/inference_worker/Dockerfile_dev
    restart: "no"
    volumes:
      - ./src/inference_worker:/inference_worker

  nginx:
    restart: "no"
