celery[redis]==5.2.7

# PyTorch
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cpu
torchvision==0.14.1+cpu

timm==0.6.13

# FGVC library
--index-url https://pypi.piva-ai.com/simple/
fgvc==1.3.3.dev

wandb
