celery[redis]==5.2.7

# database
psycopg2-binary~=2.9.5
SQLAlchemy~=1.4.44

# PyTorch
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.13.1+cpu
torchvision==0.14.1+cpu

timm==0.9.7

# FGVC library
--index-url https://pypi.piva-ai.com/simple/
fgvc==1.5.1.dev

wandb
