celery[redis]==5.2.7

# database
psycopg2-binary~=2.9.5
SQLAlchemy~=1.4.44


timm==0.9.7
pycocotools==2.0.7
pandas==2.0.2
kornia==0.7.1

# FGVC library
--index-url https://pypi.piva-ai.com/simple/
fgvc==1.5.1.dev

# Wildlife-tools library
wildlife-tools==0.0.5

wandb

# opencv-python==4.8.0.74
